streamlit==1.32.0
beautifulsoup4==4.12.3
requests==2.31.0
torch==2.2.1
transformers==4.37.2
pandas==2.2.1
numpy==1.26.4
scikit-learn==1.4.1.post1
nltk==3.8.1
tqdm==4.66.2
wandb==0.16.3
python-dotenv==1.0.1
